.Home , .create_form{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

/* .create_form{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
} */

.create_form input{
    width: 300px;
    padding: 10px;
    border-bottom: 2px solid;
    outline: none;
    justify-content: center
}

.create_form button{
    padding :10px;
    background-color: black;
    color: white;
    cursor: pointer;
}


